$yellow: #ffc600;


.DrumPad {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	// justify-content: center;
	// align-items: center;
	height: 4.5rem;
	width: 4.5rem;
	// padding: 0.8rem;
	margin: 1rem;
	
	h1 {
		text-align: center;
		// border: 2px solid blue;
		margin: 0;
	}
	h4 {
		text-align: center;
		font-size: .6rem;
		// border: 2px solid pink;
		margin: 0;
	}
	
	border: 2px solid black;
	transition: all 0.07s;
	
	&.Active {
		transform: scale(1.1);
		border-color: $yellow;
		box-shadow: 0 0 10px $yellow;
	}

}

